<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533052721850-ums9776afgg6rjon8q8l6ro8vd8p5s11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533052721850-ums9776afgg6rjon8q8l6ro8vd8p5s11</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>533052721850-5tj1id1n00nt3oasvigf55jlmsmlf6n5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAT4DzxY1RoEvPR7YL4pAa0-IgIThF62k4</string>
	<key>GCM_SENDER_ID</key>
	<string>533052721850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stoke.app</string>
	<key>PROJECT_ID</key>
	<string>stoke-bce72</string>
	<key>STORAGE_BUCKET</key>
	<string>stoke-bce72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533052721850:ios:26332a808b410aeec4d083</string>
</dict>
</plist>